.user-title{
  margin-left: 70px;
}

textarea{
  color: white;
}

.img-thumbnail{
  margin: 25px;
  width: 85%;
  height: 85%;
}

.card-body{
  padding: 0 25px;
}

.card-footer{
  padding: 10px 25px;
  border-top: none;
}

.user-title{
  margin-left: 70px;
}
